# Compare lists of feature pairs of the Balance Faces in the Wild (BFW) dataset.

Load table in `data/bfw-datatable.pkl` to extract all features and store in the datatable. Overwrites the table to `data/bfw-datatable.pkl`.

## Add project code to PYTHONPATH, if not already there
Check that _path_package_ is set to _code_ directory on respective system

In [1]:
import pathlib
path_package=f'{str(pathlib.Path().home())}/bfw-data/facerec-bias-bfw/code'
import sys
if path_package not in sys.path:
    sys.path.append(path_package)

In [2]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Load out custom tool for loading and processing the data
from facebias.io import load_bfw_datatable

## Load the data

Read in the data as a pandas.DataFrame and show the first few rows.

In [4]:
data = load_bfw_datatable('../../data/bfw-pairtable.pkl', cols=['p1', 'p2', 'score'])
data.head()

,p1,p2,senet50
0,asian_females/n000009/0010_01.jpg,asian_females/n000009/0043_01.jpg,0.679089
1,asian_females/n000009/0010_01.jpg,asian_females/n000009/0120_01.jpg,0.594268
2,asian_females/n000009/0010_01.jpg,asian_females/n000009/0122_02.jpg,0.643680
3,asian_females/n000009/0010_01.jpg,asian_females/n000009/0188_01.jpg,0.458883
4,asian_females/n000009/0010_01.jpg,asian_females/n000009/0205_01.jpg,0.494913

## Load features and generate scores
First check if scores were calculated for each pairs; else, load and calculate

In [9]:
if 'score' not in data:
    # create a list of all faces (i.e., unique set)
    li_images = list(np.unique(data.p1.to_list() + data.p2.to_list()))

    # read features as a dictionary, with keys set as the filepath of the image with 
    # values set as the face encodings
    features = {f: pd.read_pickle(dir_features + f.replace('.jpg', '.pkl')) for f in
                li_images}
    
    do_save = True
else:
    print('Scores were in datatable. Will not overwrite by default')
    do_save = False

Scores were in datatable. Will not overwrite by default

In [ ]:
if do_save:
    pd.to_pickle('../../data/bfw-pairtable.pkl')